#silly emacs backups
*"."*"~"

#platformio files
.travis.yml
.pioenvs
.build_ano

#gtags information
GPATH
GRTAGS
GTAGS
.piolibdeps
.vscode/*.db
.vscode/c_cpp_properties.json
.vscode/launch.json
