#silly emacs backups
*"."*"~"

#platformio files
.travis.yml
.pioenvs
.build_ano

#gtags information
GPATH
GRTAGS
GTAGS
.piolibdeps

#VS Code nonsense
.vscode/*

pi_info
platformio.ini
.pioenvs/*